:root {
  --grey-one: #888;
  --light: #fff;
  --grey-dark: #e8e8e8;
  --dark-one: #121212;
  --blue-sky: #0290ff;
  --very-light-pink: #c4c4c4;
}

.formContainer {
  width: 90%;
  margin: 0 auto;
}

hr {
  background: var(--grey-dark);
  height: 3px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: var(--grey-one);
  text-transform: uppercase;
  text-align: start;
}

form {
  display: flex;
  column-gap: 2rem;
}

input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--grey-dark);
  background-color: var(--light);
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: var(--very-light-pink);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  height: 1.188rem;
  width: 4.75rem;
}

input::placeholder {
  font-weight: 700;
}

.inputTitle {
  width: 29%;
  height: 50px;
}

.inputAuthor {
  width: 30%;
}

.button {
  cursor: pointer;
  padding: 12px;
  border-radius: 3px;
  background-color: var(--blue-sky);
  border: none;
  letter-spacing: 0.5px;
  color: var(--light);
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
